/config/wp.config.ts
/node_modules
/reports
/artifacts
/plugin/new_release.zip
/plugin/previous_stable.zip
/plugin/wp-rocket_3.10.9.zip
/plugin/exported_settings/settings_1.json
/plugin/exported_settings/settings_2.json
/plugin/exported_settings/settings_3.json
/test-results
@rerun.txt
.env